/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

html body { display: grid }

body section { padding: 32px 0 }

section nav {
  display: flex;
  padding: 0 64px;
  align-items: center;
  justify-content: space-between;
  color: #fff
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

li a {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}

/* Navbar 1 styles */

#navbar-1 { background-color: #f44336 }

#navbar-1 a { position: relative }

#navbar-1 a::before, #navbar-1 a::after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: all .4s;
}

#navbar-1 a::before {
  content: '<';
  left: -28px;
}

#navbar-1 a::after {
  content: '/>';
  right: -36px;
}

#navbar-1 a:hover::before, #navbar-1 a:hover::after {
  opacity: 1;
  visibility: initial;
}

#navbar-1 a:hover::before { left: -20px }

#navbar-1 a:hover::after { right: -28px }

/* Navbar 2 styles */

#navbar-2 { background-color: #673ab7 }

#navbar-2 a {
  position: relative;
}
#navbar-2 a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  margin: 0 auto;
  bottom: -4px;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  transition: width .4s;
}

#navbar-2 a:hover::after { width: 100% }

/* Navbar 3 styles */

#navbar-3 {
  background-color: #e91e63;
  padding: 30px 0;
}

#navbar-3 ul { gap: initial }

#navbar-3 a {
  border-radius: 32px;
  padding: 4px 16px;
  color: #ededed;
}

#navbar-3 a:hover { animation: shadow-press .25s linear forwards }

@keyframes shadow-press {
  to {
    box-shadow: -2px -2px 4px #fffa inset, 2px 2px 4px #0006 inset;
    text-shadow: 0 0 2px #000a;
    color: #fff
  }
}

/* Navbar 4 styles */

#navbar-4 { background-color: #3f51b5 }

#navbar-4 ul { gap: initial }

#navbar-4 a {
  color: #dadada;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#navbar-4 a:hover { animation: shadow-text .25s linear forwards }

@keyframes shadow-text {
  to {
    text-shadow: 0 0 1px #000, 0 0 2px #fff, 0 0 3px #ddd;
    color: #fff;
  }
}

/* Navbar 5 styles */

#navbar-5 { background-color: #4caf50 }

#navbar-5 ul { gap: 16px }

#navbar-5 li { position: relative }

#navbar-5 a {
  flex: 1;
  text-align: center;
  padding: 4px;
  z-index: 1;
}

#navbar-5 li::before, #navbar-5 li::after,
#navbar-5 a::before, #navbar-5 a::after {
  background-color: #fff;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
}
#navbar-5 li::before, #navbar-5 a::before {
  top: 0;
  left: 0;
}

#navbar-5 li::after, #navbar-5 a::after {
  bottom: 0;
  right: 0;
}

#navbar-5 li:hover::after, #navbar-5 li:hover::before {
  animation: rect-lines-horizontal .3s linear forwards;
}

#navbar-5 a:hover::after, #navbar-5 a:hover::before {
  animation: rect-lines-vertical .3s linear forwards;
}

@keyframes rect-lines-horizontal {
  to {
    width: 100%;
    height: 2px;
  }
}

@keyframes rect-lines-vertical {
  to {
    height: 100%;
    width: 2px;
  }
}


