#go-to-top {
  display: none;
  background-color: var(--color-secondary);
  color: var(--color-secondary-foreground);
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#go-to-top:hover {
  background-color: var(--color-secondary-hover);
}

#go-to-top:focus {
  outline: none;
}
