main .stack section.content-fluid {
  background-color: var(--color-muted-foreground);
}

main .stack section.content-fluid .icons {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
  padding-block: 2rem;
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 1200px;
}
