main .contact .cards-container .card-item {
  border-radius: 8px 8px 0 0;
  border: 1px solid #ccc;
  gap: 0;
}

main .contact .cards-container .card-item.show {
  border-radius: 8px;
}

main .contact .cards-container .card-item h3 {
  background-color: #0001;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
}

main .contact .cards-container .card-item h3::after {
  content: " \25BC";
}

main .contact .cards-container .card-item.show h3::after {
  content: " \2716";
}

main .contact .cards-container .card-item h3 span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main .contact .cards-container .card-item h3 span img {
  height: 1.25rem;
  width: 1.25rem;
}

main .contact .cards-container .card-item p {
  opacity: 0;
  max-height: 0;
  padding: 0 0.75rem;
  overflow: hidden;
  border-top: 1px solid #000;
  transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out,
    padding 0.4s ease-in-out;
}

main .contact .cards-container .card-item.show p {
  opacity: 1;
  max-height: 200px;
  padding: 0.5rem 0.75rem;
}

main .contact .cards-container .card-item.show p a {
  font-size: 1rem;
}

@media only screen and (min-width: 992px) {
  main .contact .cards-container {
    flex-direction: row;
    justify-content: center;
  }

  main .contact .cards-container .cards-left,
  main .contact .cards-container .cards-right {
    flex: 1;
  }
}
