* {
  box-sizing: border-box;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body, div, main, section, figure, h1, h2, h3, p, ol, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5e5e5e;
  color: #ccc;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 36px;
  background-color: #666;
}

ol, ul { list-style: none; }

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 { font-family: sans-serif; }

h1 { font-size: 2.5rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1rem; }

p { font-size: 1.25rem; }

a { text-decoration: none; }

h1, h2, h3, p, a { color: #fff; }

[class^=navbar] {
  background-color: #555;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3%;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-lg {
  display: none;
}

main {
  margin-top: 6rem;
}
