#settings {
  display: flex;
  background-color: var(--color-secondary);
  color: var(--color-secondary-foreground);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#settings:hover {
  background-color: var(--color-secondary-hover);
  color: var(--color-secondary-foreground-hover);
}

#settings:focus {
  outline: none;
}

#settings svg.icon {
  width: 4rem;
  height: 4rem;
  color: var(--color-secondary-foreground);
}

#settings-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  z-index: 1000;
  padding: 1rem;
}

#settings-modal.is-open {
  display: block;
}

#settings-modal .modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 1rem;
  background-color: var(--color-popover);
  color: var(--color-popover-foreground);
  box-shadow: 0 0 10px var(--color-shadow);
  gap: 4rem;
}

#settings-modal .modal-content .close {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  font-size: 2.25rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-muted-foreground);
  transition: color 0.3s ease-in-out;
}

#settings-modal .modal-content .close:hover {
  color: var(--color-accent-foreground);
}

#settings-modal .modal-content form .line {
  border-bottom: 1px solid var(--color-border);
  margin-block: 1rem;
}

#settings-modal .modal-content form .settings-item {  
  padding-block: 2rem;
}

#settings-modal .modal-content form .settings-item svg.icon {  
  width: 2.5rem;
  height: 2.5rem;
}

#settings-modal .modal-content form label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 40%;
  font-size: 1.25rem;
  min-width: calc(100vw - 4rem);
}

#settings-modal .modal-content form select {
  min-height: 2.5rem;
  min-width: 200px;
  font-weight: bold;
  font-size: 1.25rem;

}

#settings-modal .modal-content form button {
  min-height: 2.5rem;
  width: 100%;
  margin-top: 4rem;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-secondary-foreground);
  border: 1px solid var(--color-accent-foreground);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

#settings-modal .modal-content form button:hover {
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary-foreground-hover);
  color: var(--color-secondary-foreground-hover);
}

#settings-modal .modal-content form button[data-loading="true"] {
  cursor: wait;
  opacity: 0.5;
}

@media only screen and (min-width: 992px) {
  #settings-modal .modal-content form .settings-item {
    flex-direction: row;
    gap: 4rem;
  }

  #settings-modal .modal-content form label {
    min-width: 200px;
  }
}
