.home {
  flex-direction: column;
  gap: 32px;
}

.home figure.avatar {
  border-radius: 50%;
  height: 256px;
  min-width: 256px;
  max-width: 256px;
  overflow: hidden;
  box-shadow: 0 0 16px #aaaa;
}

.home .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home .info h1 {
  text-align: center;
}

.home .info .icons {
  display: flex;
  gap: 12px;
}

.home .info .icons a.icon {
  text-transform: none;
  height: 36px;
  width: 36px;
}

.home .info .icons .svg-icon {
  width: 100%;
}

.hello-world {
  margin-block: 4vw;
}

.hello-world p {
  width: 30ch;
  font-size: 4vw;
  border-right: 8px solid;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  position: absolute;
}

.hello-world p:first-child {
  animation: typing 5s steps(30) infinite alternate,
    blinking 0.5s infinite alternate, toggle 15s step-end infinite alternate;
}

.hello-world p:last-child {
  animation: typing 5s steps(30) infinite alternate,
    blinking 0.5s infinite alternate, toggle 15s step-start infinite alternate;
}

.hello-world p i:not(:nth-child(3)) {
  font-style: normal;
}

.hello-world p i:nth-child(1) {
  color: #bd93f9;
}

.hello-world p i:nth-child(2) {
  color: #48d479;
}

.hello-world p i:nth-child(3) {
  color: #f1fa8c;
}

.stack {
  gap: 8px;
  justify-content: flex-start;
}

.stack p {
  white-space: nowrap;
}

.stack .icons {
  display: flex;
  gap: 8px;
}

.about, 
.projects,
.contact {
  flex-direction: column;
  margin-top: 4rem;
  align-items: stretch;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  position: relative;
}

.about .container article {
  position: absolute;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: #0001;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about .container article p {
  text-shadow: 1px 1px 4px #000;
}

.projects .container,
.projects .container .project {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.projects .container .project article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact .cards-container {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
}

.contact .cards-container .card-item {
  padding: 8px;
  background-color: #0001;
  border-radius: 8px 8px 0 0;
  margin-block: 8px;
  border: 1px solid #ccc;
}

.contact .cards-container .card-item h3 {
  cursor: pointer;
}

.contact .cards-container .card-item h3::after {
  content: " \25BC";
}

.contact .cards-container .card-item p {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  /* transition: max-height .5s ease-in-out, opacity .3s ease-in-out; */
  border-top: 1px solid #000;
  margin-top: 4px;
}

.contact .cards-container .card-item.show p {
  opacity: 1;
  max-height: 1000px;
  transition: max-height 2s ease-in-out, opacity .3s ease-in-out;
}

.contact .cards-container .card-item.show p a {
  text-decoration: none;
  color: #fff;
}
