.navbar {
  display: none;
}

.navbar-lg {
  display: flex;
}

.navbar-lg .logo img {
  filter: invert(1);
}

.navbar-lg ul {
  display: flex;
}

.navbar-lg ul li {
  cursor: pointer;
  position: relative;
  padding: 16px;
  font-size: 1.5rem;
}

.navbar-lg ul li::before, .navbar-lg ul li::after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: all .5s;
}

.navbar-lg ul li::before {
  content: "{";
  left: -8px;
}

.navbar-lg ul li::after {
  content: "}";
  right: -8px;
}

.navbar-lg ul li:hover::before, .navbar-lg ul li:hover::after {
  opacity: 1;
  visibility: initial;
}

.navbar-lg ul li:hover::before {
  left: 0;
}

.navbar-lg ul li:hover::after {
  right: 0;
}
