.navbar input.menu-checkbox {
  display: none;
}

.navbar label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 32px;
  width: 30px;
  z-index: 1000;
  margin-top: 1rem;
}

.navbar label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #ccc;
  transition: .3s ease-in-out;
}

.navbar label span:nth-child(1) { top: 0; }
.navbar label span:nth-child(2) { top: 8px; }
.navbar label span:nth-child(3) { top: 16px; }

.navbar input.menu-checkbox:checked + label span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}
.navbar input.menu-checkbox:checked + label span:nth-child(2) {
  width: 0;  
}
.navbar input.menu-checkbox:checked + label span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

.navbar input.menu-checkbox ~ .menu-container {
  position: absolute;
  z-index: 100000;
  display: block;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .7s ease-in-out;
  backdrop-filter: blur(32px);
}

.navbar input.menu-checkbox:checked ~ .menu-container {
  height: 100vh;
}

.navbar .menu-container .menu-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.navbar .menu-container .menu-content a.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 8px;
}

.navbar .menu-container .menu-content img {
  filter: invert(1);
}

.navbar .menu-container .menu-content a.logo p {
  font-size: 2rem;
}

.navbar .menu-container .menu-content .icons {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.navbar .menu-container .menu-content ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.navbar .menu-container .menu-content ul li {
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.5rem;
}
